/* Сброс стилей */
* {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* Основной фон и шрифт */
body {
    background-color: #1E252B;
    font-family: 'Poppins';
    /* Уточнён шрифт */
}

/* Стили для нового блока top-header */
.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 111px;
    padding-top: 26px;
    padding-right: 105px;
    margin-bottom: 58px;
}

/* Стили для нового блока main-nav */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Стили для нового элемента main-nav__logo */
.main-nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Стили для нового элемента site-logo__img */
.site-logo__img {
    width: 31px;
    height: 31px;
}

/* Стили для нового элемента site-logo__name */
.site-logo__name {
    color: rgba(255, 255, 255, 0.9);
    font-size: 22px;
    line-height: 100%;
    font-weight: 600;
    padding-top: 3px;
    padding-bottom: 2px;
}

/* Стили для нового элемента main-nav__list */
.main-nav__list {
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.45);
    margin-left: 257px;
    gap: 40px;
}

/* Стили для модификатора main-nav__item--dropdown */
.main-nav__item--dropdown {
    display: flex;
    align-items: center;
}

/* Стили для нового элемента main-nav__chevron-icon */
.main-nav__arrow-icon {
    display: block;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 1px;
    padding: 0;
}

/* Стили для нового элемента main-nav__auth */
.main-nav__auth {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-left: 193px;
}

/* Стили для нового элемента auth-block__btn--login */
.auth-block__btn--login {
    border: none;
    background: none;
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: rgba(255, 255, 255, 0.808);
    font-weight: 600;
    line-height: 100%;
}

/* Стили для нового элемента auth-block__btn--signup */
.auth-block__btn--signup {
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 103, 39);
    padding: 12px 28px;
    border-radius: 8px;
}

/* Стили для нового блока hero-section */
.main-section {
    padding-left: 0;
}


/* Стили для нового элемента hero-section__title */
.main-section__title {
    font-size: 50px;
    margin-top: 46px;
    line-height: 140%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

/* Стили для нового элемента hero-section__title-accent */
.main-section__title-accent {
    color: rgb(255, 103, 39);
}

/* Стили для нового элемента hero-section__description */
.main-section__description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 487px;
    margin-bottom: 60px;
}

.main-section__content {
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
}

.main-section__left {
    position: absolute;
    left: 111px;
}

.main-section__img {
    position: absolute;
    right: 50px;
}

.main-section__search {
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid;
    background-color: rgba(40, 48, 54, 1);
    border-radius: 15px;
    padding: 8px 11px 8px 18px;
    border: none;
    margin-bottom: 110px;
    width: 498px;
}

.search-block {
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid;
    background-color: rgba(40, 48, 54, 1);
    border-radius: 15px;
    padding: 8px 11px 8px 18px;
    border: none;
    margin-bottom: 110px;
    width: 498px;
}

.search-block::after {
    content: '';
    position: absolute;
    left: 55px;
    top: 23px;
    bottom: 25px;
    width: 1.5px;
    background: linear-gradient(-90deg, rgba(131, 122, 147, 1), rgba(131, 122, 147, 1));
}

.search-block::before {
    content: '';
    position: absolute;
    top: -1.5px;
    left: -1.5px;
    right: -1.5px;
    bottom: -1.5px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 16.5px;
    z-index: -1;
}

.search-block__icon {
    margin-right: 13px;
    display: block;
    width: 24px;
    height: 24px;
}

.search-block__input {
    background-color: transparent;
    border-style: none;
    padding-top: 13px;
    padding-bottom: 14px;
}

.search-block__input::placeholder {
    color: rgba(255, 255, 255, 0.38);
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
}

.search-block__btn {
    margin-left: auto;
    border: none;
    background: none;
    background-color: rgba(255, 110, 48, 1);
    padding: 12px 36px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    width: 130px;
    height: 48px;
}

.main-section__social {
    margin-top: 110px;
}

.social-block {
    margin-top: 110px;
}

.social-block__list {
    display: flex;
    gap: 8px;
}

.social-block__item {
    padding: 12px;
}

.tools-section {
    margin-top: 250px;
    padding: 0 340px;
}

.tools-section__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255);
    margin-bottom: 25px;
}

.tools-section__header {
    text-align: center;
}

.tools-section__description {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    width: 427px;
    height: 60px;
    margin: 0 auto;
}

.tools-section__list {
    max-width: 1250px;
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    margin-top: 90px;
}

.tool-card {
    padding: 33px;
    width: 326px;
    background-color: rgba(30, 37, 43, 1);
    margin-bottom: 100px;
}

.tool-card--special {
    background-color: rgba(40, 46, 54, 0.6);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.tool-card--special::after {
    content: '';
    position: absolute;
    top: -6px;
    right: 16px;
    width: 65px;
    height: 65px;
    background: rgba(255, 107, 48, 0.6);
    border-radius: 50%;
    filter: blur(50px);
    -webkit-filter: blur(50px);
    z-index: 0;
}


.tool-card {
    margin-top: 20px;
}


.tool-card__header {
    display: flex;
    gap: 30px;
}

.tool-card__price {
    margin-top: 3px;
    color: rgba(255, 135, 55, 0.55);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.tool-card__name {
    color: rgba(255, 255, 255, 0.822);
    font-weight: 500;
    font-size: 24px;
    left: 100%;
}

.tool-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.521);
    margin-top: 30px;
    margin-bottom: 30px;
}


.tool-card__price--special {
    color: rgb(255, 152, 55);
}

.tool-card--special .tool-card__name {
    color: rgba(255, 255, 255, 0.904);
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
}

.tool-card--special .tool-card__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.795);
    margin-top: 30px;
    margin-bottom: 30px;
}

.tool-card__actions {
    display: flex;
    align-items: center;
}

.tool-card__action--like {
    margin-right: 12px;
    padding: 7px;
}

.tool-card__like-frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
    background: rgb(40, 47, 54);
    margin-right: 12px;
}

.tool-card__action--file {
    padding: 7px 6px 5px 6px;
}

.tool-card__btn {
    margin-left: 124px;
    border: none;
    background: none;
    padding: 9px 35px;
    color: rgba(255, 255, 255, 0.575);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.tool-card__btn--special {
    background-color: rgb(255, 107, 44);
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    width: 106px;
    height: 42px;
}

.tools-section__load-more {
    border: 1px solid rgba(255, 255, 255, 0.075);
    background: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: rgb(250, 106, 45);
    display: block;
    margin: 0 auto;
    padding: 17px 38px;
    border-radius: 8px;
    margin-bottom: 200px;
}

.page-footer {
    padding: 0 108px 48px 108px;
    position: relative;
}

.page-footer__text {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.8);
}

.page-footer__container {
    padding: 55px 310px;
    backdrop-filter: blur(50px);
    position: relative;
    overflow: hidden;
    background-color: rgba(44, 53, 61, 0.2);
    border: 2px solid transparent;
    border-radius: 25px;
}

.page-footer__container::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(rgba(255, 255, 255, 0.048),
            rgba(255, 255, 255, 0));
    border-radius: 25px;
}

.page-footer__brands {
    display: flex;
    margin-top: 55px;
    gap: 110px;
}

.page-footer__container::after {
    content: '';
    position: absolute;
    top: -83px;
    left: -85px;
    width: 159px;
    height: 159px;
    background: rgba(255, 72, 66, 0.4);
    border-radius: 50%;
    filter: blur(100px);
}